
@{
    ViewBag.Title = "Submitted";
    Layout = "~/Views/Shared/_LayoutAMSA.cshtml";
}


<div class="jumbotron" style="background-color: #66CCFF">
    <div class="page-header">
        <h1 style="color: #ffffff">Thanks for submitting your physician shadowing application!</h1>
        <p>We will be getting back to you shortly with a match.</p>
    </div>
</div>
<div class="container-fluid"></div>

