@{
    ViewBag.Title = "About AMSA UM";
    Layout = "~/Views/Shared/_LayoutAMSA.cshtml";

}

<div class='jumbotron' id='aboutJumbo'>
    <h1 class='text-center'>What is AMSA?</h1>
    <p class='col-xs-10 col-xs-offset-1 text-center' style='margin-bottom: 30px; font-size: 23px;'>"The American Medical Student Association is committed to improving healthcare and healthcare delivery to all people; promoting active improvement in medical education; involving its members in the social, moral and ethical obligations of the profession of medicine; assisting in the improvement and understanding of world health problems; contributing to the welfare of medical students, premedical students, interns, residents and post-MD/DO trainees; and advancing the profession of medicine."</p>
</div>
<div class='container-fluid'>
    <div class='row' id='aboutContainer'>
        <div class="clearfix visible-xs"></div>
        <div class='col-xs-6 col-xs-offset-3'><p class='lead textLarge'>AMSA (American Medical Student Association) is the oldest and largest independent association of physicians-in-training in the United States. It is a student governed, national organization that can help give students the support and guidance in preparation for medical school.</p> </div>
    </div>
    <div class='row' id='aboutContainer'>
        <div class='col-xs-6 col-xs-offset-3'>
            <p class='lead textLarge'>General meetings held throughout the academic year are designed to provide opportunities to become a viable medical student applicant. Some of the opportunities include volunteer activitities, physician shadowing, guest lectures, MCAT prep information, and hands on medical experiences.</p>
        </div>
    </div>
    <div class='row' id='aboutContainer'>
        <h1 class='text-center' style='font-size: 63px'>Who can join AMSA?</h1>
        <div class="clearfix visible-xs"></div>
        <div class='col-xs-6 col-xs-offset-3'>
            <p class='lead textLarge'>Any student at the University of Miami is able to join AMSA. Most likely participation in the organization will benefit anyone in the pre-med or pre-health track with a passion for medicine and giving back.</p>
        </div>
    </div>
    <div class='row' id='aboutContainer' style='margin-bottom: 15px'>
        <h1 class='text-center' style='font-size: 63px'>Why join AMSA?</h1>
        <div class="clearfix visible-xs"></div>
        <div class='col-xs-6 col-xs-offset-3'>
            <p class='lead textLarge'>Applying to medical school might be one of the longest and most tedious processes students might face in their lives. AMSA gives the opportunity to connect with other pre-medical students facing the same responsibilities of keeping up with grades and managing their free time.</p>
            <div class="clearfix visible-xs"></div>
            <p class='lead textLarge'>Through meetings held throughout the year and countless of volunteer opportunities offered the organization can help shape the student into a desired pre-med candidate willing to give back to the community and to share their knowledge and passion of medicine with anyone.</p>
            <div class="clearfix visible-xs"></div>
            <p class='lead textLarge'> Overall, AMSA gives room to forge meaningful support among students with the same goal in mind, getting into medical school.</p>
            <div class="clearfix visible-xs"></div>
        </div>
    </div>
    @RenderPage("footer.cshtml")
</div>