<div class='row' id='darkFollowUsRow'>
    <div class='col-xs-12'>
        <h2 class='text-center'><small id='lightFollowUsText'>Follow Us</small></h2>
        <div class="clearfix visible-xs"></div>
    </div>
</div>
<div class='row followUsRow' id='darkFollowUsRow'>
    <div class='col-xs-3 col-xs-offset-3'>
        <a href ="https://twitter.com/amsaofumiami" ><img src='~/Content/Twitter_logo_blue.png' /></a>
</div>
    <div class='col-xs-3 col-xs-offset-2'>
        
        <a href='http://www.facebook.com/groups/2200581925?ap=1'> <img src='~/Content/FB-f-Logo__blue_1024.png' /></a>
    </div>
</div>