@{
    ViewBag.Title = "Join Amsa";
    Layout = "~/Views/Shared/_LayoutAMSA.cshtml";
}

<div class='jumbotron' id='aboutJumbo' style='margin-bottom: -5px'>
    <h1 class='text-center'>Join AMSA</h1>
    <h2 class='text-center'>But how?</h2>
</div>
<div class='container-fluid'>
    <div class='row' id='aboutContainer'>
        <div class='col-xs-4 col-xs-offset-1'>
            <p class='lead text-center' id='joinText'>Fill out a membership form to become an active member of AMSA and start participating in all of the events and enjoying its benefits!</p>
        </div>
        <div class='col-xs-4 col-xs-offset-2'>
            <p class='lead text-center' id='joinText'>Join AMSA's LISTSERV for emails from the officers regarding meetings, updates, or new student opportunities such as involvement and volunteer activities!</p>
        </div>
    </div>
    <div class='row' id='aboutContainer' style='margin-bottom:15px'>
        <div class='col-xs-4 col-xs-offset-1'>
            <p class='lead text-center' id='joinText'>Email our treasurer <a href='mailto:m.tak@umiami.edu?subject="I have the money!"'>Mihir Tak</a> to meet up and turn in your dues.</p>
        </div>
        <div class='col-xs-4 col-xs-offset-2'>
            <p class='lead text-center' id='joinText'>Email <a href='mailto:d.dorelien1@umiami.edu?subject="Add me to the LISTSERVE!"'>Danika Dorelien</a> if you’d like to be added to the LISTSERVE</p>
        </div>
    </div>

</div>
@RenderPage("footer.cshtml")
