@{
    ViewBag.Title = "Leadership Opportunities";
    Layout = "~/Views/Shared/_LayoutAMSA.cshtml";
}
<div class='jumbotron' style="background-color: #66CCFF">
    <div class='page header'>
        <h1 style ="color: #ffffff">Leadership Opportunities</h1>
    </div>
</div>
<div class='container fluid'>
    <div class='row'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <p class='h1' style='font-weight: 200'>AMSA Leadership Opportunities</p>
                <ul class='lead'>
                    <li>President - second in command after President, oversees and assists the Guest speaker coordinator, public representative, and freshman representative</li>
                    <li>VP Internal - second in command after President, oversees and assists the Guest speaker coordinator, public representative, and freshman representative</li>
                    <li>VP External - third in command after President and vp internal, oversees and assists the physician shadowing coordinators and the volunteer coordinators</li>
                    <li>Treasurer - responsible for keeping track of all funds including SAFAC and guest accounts, responsible for membership dues, lists, and applications</li>
                    <li>Secretary - sends emails via listserv, takes notes at all eboard meetings, reserves rooms for meetings</li>
                    <li>Volunteer Coordinators (2) - obtain and inform members of volunteering activities in both the community and medical fields, contact agencies and set up volunteering dates.</li>
                    <li>Physician Shadowing Coordinators (3) - obtain physicians (each semester) to participate in AMSA's physician shadowing program, create application and match students with doctors. *Preferably they should know doctors already.</li>
                    <li>Guest Speaker Coordinator - obtain speakers from various medical backgrounds (admission committees, doctors, students, etc) to speak at our meetings, coordinate all meetings</li>
                    <li>Public Relations/Webmaster  - responsible for all advertising materials, including our website and facebook group, the banner in cox and any other promotional materials (table tents, flyers, newspaper)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <div class='col-xs-1'>
                    <a href="http://orgsync.com/55147/chapter">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-link"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-6'>
                    <p class='lead'>Join OrgSync</p>
                </div>
            </div>
        </div>
    </div>
    @*<div class='row'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <h1 style='font-weight: 200'>Applications</h1>
                <div class='col-xs-1'>
                    <a href="http://www.miami.edu/p100">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-link"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-11'>
                    <dl>
                        <dt><p class='lead'>President's 100 </p></dt>
                        <dd><p class='lead'><small>President’s 100 is a group of specially selected students that serve as ambassadors between the university and prospective undergraduates. Give tours on campus and a whole lot more!  The P100’s core role is to allow prospective undergraduates the opportunity to interact with successful UM students and gain an honest representation about life at UM. Our interview process occurs every fall semester.</small> <p class='lead text-danger'><small><strong>Applications are due Wed. 9/7 by 5pm</strong></small></p></p></dd>
                    </dl>
                </div>
                <div class='col-xs-1'>
                    <a href="https://um.collegiatelink.net/organization/coso">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-link"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-11'>
                    <dl>
                        <dt><p class='lead'>Committee on Student Organizations (COSO) </p></dt>
                        <dd><p class='lead'><small>COSO is a wonderful way to be involved with all aspects of student involvement. Open Positions include: Organization Registration Coordinator﻿, Marketing Coordinator, Constitutional Review, Member at Large, Freshman Member at Large</small><p class='lead text-danger'><small><strong>Applications are by Friday, September 9th</strong></small></p></p></dd>
                    </dl>
                </div>
                <div class='col-xs-1'>
                    <a href="http://www.miami.edu/msa">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-link"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-11'>
                    <dl>
                        <dt><p class='lead'>Native American Programming Board (NAPB) </p></dt>
                        <dd><p class='lead'><small>Are you passionate about commemorating the Native American culture? Do you want to be part of bringing new and exciting events like this semester’s Finals Fiesta and celebrate the indigenous traditions, heritage, and customs of the different Native American tribes? If so, then be part of the Native American Programming Board sponsored by the Office of Multicultural Student Affairs (MSA) and help plan this year’s events.  Native American celebration is held during the month of November and with your help the month will be filled with entertaining and engaging programs.</small><p class='lead text-danger'><small><strong>All forms can be emailed to Luz Paniagua at <a href="mailto:lpaniagua@miami.edu">lpaniagua@miami.edu.</a>  For more information, please contact MSA at 305-284-2855.</strong></small></p></p></dd>
                    </dl>
                </div>
                <div class='col-xs-1'>
                    <a href="http://www.miami.edu/student-activities">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-link"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-11'>
                    <dl>
                        <dt><p class='lead'>Student Activity Fee Allocation Committee (SAFAC)</p></dt>
                        <dd>
                            <p class='lead'>
                                <small>
                                    Do you want to help make decisions on which student organizations receive funds from a portion of the student activity fee? Then join the Student Activity Fee Allocation Committee (SAFAC) as the freshman or sophomore delegate. Meetings are held weekly on Wednesdays from 2:30pm-5pm. All members are required to attend meetings weekly, hold at least 2 office hours per week, and attend Budget Weekend the last weekend in March 2011.
                                    The fourteen students on this highly selective committee represent various campus constituents. SAFAC Members review regular budget requests each spring and throughout the year, and supplemental and capital Expenditure Requests throughout the academic year. Members also provide workshops on the funding process and serve as a resource on financial matters.
                                </small>
                            <p class='lead text-danger'><small><strong>Application deadline is Friday September 9th. For more information, contact the SAFAC Chair Phil Sookram at <a href="mailto:safac@miami.edu">safac@miami.edu.</a></strong></small></p></p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>*@
</div>
@RenderPage("footer.cshtml")
