@{
    ViewBag.Title = "Officers";
    Layout = "~/Views/Shared/_LayoutAMSA.cshtml";
}
<div class='jumbotron' id='aboutJumbo'>
    <h1 class='text-center'>Officers</h1>
</div>
<div class='container-fluid' style="padding-top: -100px">
    <div class='row' id='aboutContainer'>
        <div class='col-xs-6 col-xs-offset-3'><h1 class='lead textLarge text-center'>Advisor</h1> <p class='text-center'>Dr. Tiffany Plantan</p><p class='text-center'>Office of Pre-Health Advising and Mentoring 1365 Memorial Drive Ungar Building, Room 103 Coral Gables, FL 33146</p> </div>
    </div>
    <div class='row' id='aboutContainer'>
        <div class='col-xs-6 col-xs-offset-3'><h1 class='lead textLarge text-center'>President</h1> <p class='text-center'>Carlos Barrera</p> </div>
    </div>
    <div class='row' id='aboutContainer'>
        <div class='col-xs-6 col-xs-offset-3'><h1 class='lead textLarge text-center'>Vice President Internal</h1> <p class='text-center'>Hamad Sagheer</p> </div>
    </div>
    <div class='row' id='aboutContainer'>
        <div class='col-xs-6 col-xs-offset-3'><h1 class='lead textLarge text-center'>Vice President External</h1> <p class='text-center'>Francesca Tebano</p> </div>
    </div>
    <div class='row' id='aboutContainer'>
        <div class='col-xs-6 col-xs-offset-3'><h1 class='lead textLarge text-center'>Treasurer</h1> <p class='text-center'>Mihir Tak</p> </div>
    </div>
    <div class='row' id='aboutContainer'>
        <div class='col-xs-6 col-xs-offset-3'><h1 class='lead textLarge text-center'>Secretary</h1> <p class='text-center'>Danika Dorelien</p> </div>
    </div>
    <div class='row' id='aboutContainer'>
        <div class='col-xs-6 col-xs-offset-3'><h1 class='lead textLarge text-center'>Volunteer Coordinators</h1> <p class='text-center'>Joanie Levine, Jessica Ventenilla</p> </div>
    </div>
    <div class='row' id='aboutContainer'>
        <div class='col-xs-6 col-xs-offset-3'><h1 class='lead textLarge text-center'>Physician Shadowing Coordinators</h1> <p class='text-center'>Camilo Martinez, Danny Lopez</p> </div>
    </div>
    <div class='row' id='aboutContainer'>
        <div class='col-xs-6 col-xs-offset-3'><h1 class='lead textLarge text-center'>Guest Speaker Coordinator</h1> <p class='text-center'>Courtney Wilbon</p> </div>
    </div>
    <div class='row' id='aboutContainer'>
        <div class='col-xs-6 col-xs-offset-3'><h1 class='lead textLarge text-center'>Historian</h1> <p class='text-center'>Namrata Palsule</p> </div>
    </div>
    <div class='row' id='aboutContainer'>
        <div class='col-xs-6 col-xs-offset-3'><h1 class='lead textLarge text-center'>Webmaster</h1> <p class='text-center'>Cameron Phillips</p> </div>
    </div>
    @RenderPage("footer.cshtml")
</div>

