@{
    ViewBag.Title = "Physician Shadowing";
    Layout = "~/Views/Shared/_LayoutAMSA.cshtml";
}
<div class='jumbotron' style="background-color: #66CCFF">
    <div class='page header'>
        <h1 style="color: #ffffff">Physician Shadowing</h1>
    </div>
</div>

<div class='container fluid'>
    <div class='row'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <p class='lead'>AMSA is designed to help you maximize your undergraduate experience. Physician shadowing is one of the ways AMSA offers you the opportunity to enhance your pre-med experience.</p>
                <p class='lead'><em>What kinds of physicians participate in physician shadowing through AMSA you may ask?</em></p>
                <p class='lead'>There are a wide range of physicians that participate in physician shadowing through AMSA. We strive to offer you a wide range of choices to satisfy your field of interest so most of the specialties are located on the physician shadowing application.</p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <p class='lead'><small>If you have any questions, feel free to contact any of the physician shadowing coordinators.</small></p>
                <div class='col-xs-1'>
                    <a href='mailto:camilo.martinez18@gmail.com'><button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'><span class="glyphicon glyphicon-envelope"></span></button></a>
                </div>
                <div class='col-xs-11'>
                    <p class='lead'>Camilo Martinez</p>
                </div>
                <div class='col-xs-1'>
                    <a href='mailto:d.lopez13@umiami.edu'><button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'><span class="glyphicon glyphicon-envelope"></span></button></a>
                </div>
                <div class='col-xs-11'>
                    <p class='lead'>Daniel Lopez</p>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <div class='col-xs-1'>
                    <a href='http://amsaofumiami.webs.com/PhysicianShadowingApplication-2012revision-2.doc'><button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'><span class="glyphicon glyphicon-link"></span></button></a>
                </div>
                <div class='col-xs-11'>
                    <p class='lead'><small>Fill out the application here and follow the directions.</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
@RenderPage("footer.cshtml")
