@{
    ViewBag.Title = "Research Opportunities";
    Layout = "~/Views/Shared/_LayoutAMSA.cshtml";
}
<div class='jumbotron' style="background-color: #66CCFF">
    <div class='page header'>
        <h1>Research Opportunities</h1>
    </div>
</div>
<div class='container fluid'>
    <div class='row'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <h1 style='font-weight: 200'>Office of Undergraduate Research</h1>
                <div class='col-xs-1'>
                    <a href="http://www.miami.edu/ugr">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-link"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-11'>
                    <p class='lead'>Many of the undergraduate students obtain research positions through the Office of Undergraduate Research. In the end, what works is keeping your eyes open for opportunities through emails, conferences, word of mouth, and advertisements, ultimately to find something that works.</p>
                </div>
                <div class='col-xs-1'>
                    <a href="http://www6.miami.edu/UMH/CDA/UMH_Main/1,1770,51877-1;6288-3,00.html">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-link"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-11'>
                    <p class='lead'>Application for Undergraduate Research</p>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <h1 style='font-weight: 200'>Psychology Department</h1>
                <div class='col-xs-1'>
                    <a href="mailto:pmccabe@miami.edu">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-envelope"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-11'>
                    <dl>
                        <dt><p class='lead'>Neuroscience/Psychology majors</p></dt>
                        <dd>
                            <p class='lead'><small>First look up researchers in the psychology department or Miller School of Medicine and contact the Director of the department to be able to participate. Sign up to take PSY 367/ PSY 368 and conduct your own research. Call (305-284-5507) or email Dr. McCabe (at right) to set up an appointment, and he will contact neuroscience faculty on your behalf to set up a research experience.</small></p>
                            <p class='lead'><small>Other majors can go to the Psychology advising office located in the Flipse Building, 5th floor, and sign up for a lab through the department.</small></p>
                        </dd>
                    </dl>
                </div>

                <div class='col-xs-1'>
                    <a href="http://chroma.med.miami.edu/neuro/ug/index.html">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-link"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-11'>
                    <p class='lead'>Neuroscience Department Website</p>
                </div>
                <div class='col-xs-1'>
                    <a href="http://www.psy.miami.edu/undergraduate/">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-link"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-11'>
                    <p class='lead'>Psychology Department Website</p>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <h1 style='font-weight: 200'>Miami Project to Cure Paralysis</h1>
                <div class='col-xs-1'>
                    <a href="http://www.themiamiproject.org/Page.aspx?pid=612">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-link"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-11'>
                    <p class='lead'>The Miami Project has paid summer positions available as the Miller School of Medicine strives to continue their research on how to cure spinal cord injuries and paralysis.</p>
                </div>
            </div>
        </div>
    </div>
</div>
@RenderPage("footer.cshtml")

