@{
    ViewBag.Title = "Volunteer Opportunities";
    Layout = "~/Views/Shared/_LayoutAMSA.cshtml";
}
<div class="jumbotron" style="background-color: #66CCFF">
    <div class='page header'>
        <h1 style="color: #ffffff">Volunteer Opportunities</h1>
    </div>
</div>
<div class='container fluid'>
    <div class='row'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <h1 style='font-weight: 200'>How can you get involved?</h1>
                <div class='col-xs-1'>

                    <a href="http://www.wementor.org/volunteers/be-a-big.asp#inquiry">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-link"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-11'>
                    <dl>
                        <dt><p class='lead'>Big Brother or Big Sister of Miami</p></dt>
                        <dd><p class='lead'><small>Being a Big Brother/Sister is one of the most fun and rewarding things you will ever do! As a Big Brother/Sister, you get to be a kid for a few hours a month while you give a child the invaluable gift of your friendship. Or perhaps you'd like to help a child achieve in school by visiting a nearby school one hour a week. There's an elementary school right behind Mahoney/Pearson Residential college.</small></p></dd>
                    </dl>
                </div>


            </div>
        </div>
    </div>
    <div class='row'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <h1 style='font-weight: 200'>Questions? Ideas? Contact our Volunteer Coordinators</h1>
                <div class='col-xs-1'>
                    <a href="mailto:j.levine21@umiami.edu">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-envelope"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-11'>
                    <p class='lead'>Joanie Levine</p>
                </div>
                <div class='col-xs-1'>
                    <a href="mailto:j.ventenilla@umiami.edu">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-envelope"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-11'>
                    <p class='lead'>Jessica Ventenilla</p>
                </div>
                <div class='col-xs-1'>
                    <a href="mailto:uamsa.volunteer@gmail.com">
                        <button type="button" class="btn btn-default btn-lg" style='background-color: #D8DBE1'>
                            <span class="glyphicon glyphicon-envelope"></span>
                        </button>
                    </a>
                </div>
                <div class='col-xs-11'>
                    <p class='lead'>AMSA Volunteer E-mail</p>
                </div>
            </div>
        </div>
    </div>
</div>
@RenderPage("footer.cshtml")


