<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://umiamiamsa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>umiamiamsa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>umiamiamsa</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$umiamiamsa</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:da2x27wpi6.database.windows.net,1433;Initial Catalog=umiamiaAUDMCho0C;User ID=sebastian@da2x27wpi6;Password=cane$Football" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-memberDatabasetest-20140907085507.mdf;Initial Catalog=aspnet-memberDatabasetest-20140907085507;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-memberDatabasetest-20140907085507.mdf;Initial Catalog=aspnet-memberDatabasetest-20140907085507;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MemberDBContext" Order="7" Enabled="False">
          <Destination Path="Data Source=tcp:da2x27wpi6.database.windows.net,1433;Initial Catalog=umiamiaAUDMCho0C;User ID=sebastian@da2x27wpi6;Password=cane$Football" Name="Data Source=tcp:da2x27wpi6.database.windows.net,1433;Initial Catalog=umiamiaAUDMCho0C;User Id=sebastian@da2x27wpi6;Password=cane$Football" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="memberDatabasetest.Models.MemberDBContext, memberDatabasetest" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SignupDBContext" Order="8" Enabled="False">
          <Destination Path="Data Source=tcp:da2x27wpi6.database.windows.net,1433;Initial Catalog=umiamiaAUDMCho0C;User ID=sebastian@da2x27wpi6;Password=cane$Football" Name="Data Source=tcp:da2x27wpi6.database.windows.net,1433;Initial Catalog=umiamiaAUDMCho0C;User Id=sebastian@da2x27wpi6;Password=cane$Football" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="memberDatabasetest.Models.SignupDBContext, memberDatabasetest" MigrationConfiguration="memberDatabasetest.Migrations.Configuration, memberDatabasetest" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:da2x27wpi6.database.windows.net,1433;Initial Catalog=umiamiaAUDMCho0C;User ID=sebastian@da2x27wpi6;Password=cane$Football</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MemberDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:da2x27wpi6.database.windows.net,1433;Initial Catalog=umiamiaAUDMCho0C;User Id=sebastian@da2x27wpi6;Password=cane$Football</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SignupDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:da2x27wpi6.database.windows.net,1433;Initial Catalog=umiamiaAUDMCho0C;User Id=sebastian@da2x27wpi6;Password=cane$Football</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>